{% extends 'QnoowLandingBundle:layout:base.html.twig' %}

{% block body %}
    <div class="container simple-page-container">
        {% include 'QnoowLandingBundle:layout:header-container.html.twig' %}
        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    <section class="doted-section">
                        <h2>{{ 'landing.legal_notice.first_section_title'|trans|raw }}</h2>
                        <div class="green-dot"></div><p>{{ 'landing.legal_notice.first_section_first_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.legal_notice.first_section_second_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.legal_notice.first_section_third_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.legal_notice.first_section_fourth_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.legal_notice.first_section_fifth_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.legal_notice.second_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.legal_notice.second_section_first_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_second_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_third_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_fourth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_fifth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_sixth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_seventh_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_eighth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_ninth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_tenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_eleventh_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_twelfth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_thirteenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_fourteenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_sixteenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_seventeenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_eighteenth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.legal_notice.second_section_nineteenth_explanation'|trans|raw }}</p>
                    </section>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
        {% include 'QnoowLandingBundle:layout:footer-container.html.twig' %}
    </div>
{% endblock %}