{% extends 'QnoowLandingBundle:layout:base.html.twig' %}

{% block body %}
    <div class="container simple-page-container">
        {% include 'QnoowLandingBundle:layout:header-container.html.twig' %}
        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    <section class="doted-section">
                        <h2>{{ 'landing.privacy_policy.first_section_title'|trans|raw }}</h2>
                        <div class="green-dot"></div><p>{{ 'landing.privacy_policy.first_section_first_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.privacy_policy.first_section_second_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.privacy_policy.first_section_third_explanation'|trans|raw }}</p>
                        <div class="green-dot"></div><p>{{ 'landing.privacy_policy.first_section_fourth_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.privacy_policy.second_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.privacy_policy.second_section_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.privacy_policy.third_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.privacy_policy.third_section_first_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.third_section_second_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.privacy_policy.fourth_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.privacy_policy.fourth_section_first_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_second_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_third_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_fourth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_fifth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_sixth_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fourth_section_seventh_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.privacy_policy.fifth_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.privacy_policy.fifth_section_first_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fifth_section_second_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.fifth_section_third_explanation'|trans|raw }}</p>
                    </section>
                    <section>
                        <h2>{{ 'landing.privacy_policy.sixth_section_title'|trans|raw }}</h2>
                        <p>{{ 'landing.privacy_policy.sixth_section_first_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.sixth_section_second_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.sixth_section_third_explanation'|trans|raw }}</p>
                        <p>{{ 'landing.privacy_policy.sixth_section_fourth_explanation'|trans|raw }}</p>
                    </section>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
        {% include 'QnoowLandingBundle:layout:footer-container.html.twig' %}
    </div>
{% endblock %}