<html>
<body>
<p>Un usuario ha solicitado una invitación de Nekuno para empresas. El usuario ha aportado los siguientes datos:</p>

<p>Nombre: {{ enterpriseProspect.name }}</p>
<p>Email: {{ enterpriseProspect.email }}</p>
<p>Teléfono: {{ enterpriseProspect.telephoneNumber }}</p>

<p>Para registrar al usuario hay que ir a <a href="{{ adminBaseUrl }}signup">{{ adminBaseUrl }}signup</a></p>
</body>
</html>